html, body {
width:  100%;
height: 100%;
margin: 0px;
padding: 0px;
font-family: arial;
font-size:14px;
text-align:center;
}
#head {
width:220px;
text-align:center;
margin-left:auto;
margin-right:auto;
background:#2a2a2a;
color:white;
-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}
#head input[type="password"] {
width:60px;
}
.hide {
font-weight:bold;
cursor:pointer;
}
/*#painter, #painter:hover, #painter:active { 
cursor: crosshair;
}*/
#painter {
width:800px;
height:480px;
margin-left:auto;
margin-right:auto;
}
.drawing-board-canvas-wrapper {
-moz-box-shadow: 0 0 4px #888;
-webkit-box-shadow: 0 0 4px#888;
box-shadow: 0 0 4px #888;
}